#cardsContainer {
	position: absolute;
	width: 96%;
	height: auto;
	top: 25%;
	left: 3%;
	margin: 0 auto;
}

#cardsContainer .card {
	width: 31%;
	height: 250px;
	border: 1px solid grey;
	float: left;
	margin: 2% 2% 2% 0;
	text-decoration: none;
}

#cardsContainer .card img {
	width: 100%;
	height: 70%;
}

@media screen and (min-width: 1000px) {
	
#cardsContainer .card .dataCard .typeAnimal {
	text-align: center;
	margin-top: 5%;
	font-size: 20px;

	}

}
@media screen and (min-width: 1600px) {

	#cardsContainer .card .dataCard .typeAnimal {
		margin-top: 3%;
	}

}
@media screen and (max-width: 1000px) {
	#cardsContainer .card {
		width: 48%;	
		height: 300px;
	}

	
	#cardsContainer .card img {
		height: 70%;
	}

	#cardsContainer .card .dataCard .typeAnimal {
		margin-top: 5%;
		font-size: 20px;
		text-align: center;
	}
}





