include header.pug
link(href='public/css/bleed.css', rel='stylesheet')
link(href='public/css/filter.css', rel='stylesheet')
script(src='public/js/index.js', defer)


form.inputbox(onsubmit="return false;")
	input(type='text', required, onchange='getText(this)')
	#filter Filtro
	button.del(type='reset')

#cardsContainer
	- for (var i in data) {
	a.card
		img(src='http://lorempixel.com/400/200/', width=100, height=100)
		.dataCard
			.bleedAnimal #{ data[i].name }
			.animalSelection(href=''+data[i].name) Seleccionar
			.animalBook Reservar
	- }
