include header.pug
link(href='public/css/bleed.css', rel='stylesheet')
#cardsContainer
	a.card(href='#')
		img(src='http://lorempixel.com/400/200/', width=100, height=100)
		.dataCard
			.bleedAnimal Perro
			.animalSelection Seleccionar
			.animalBook Reservar
