doctype html
html
	head
		title MyNewPet
		link(href='public/css/header.css', rel='stylesheet')

		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		
		link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		script(src='public/js/header.js', defer='defer')
	body
		div#navbar
			#logo MyNewPet
			a#loginAccess(onclick='showLogin(this)') Acceder
		#login
			#loginContent
				#loginTitle Acceder
				hr.loginLine
				#loginSocial
					button.loginBtn.loginBtn--facebook Acceder con Facebook
					br
					button.loginBtn.loginBtn--google Acceder con google
				hr.loginLine
				input#loginEmail(type='text', placeholder='Correo electr칩nico')
				br
				br
				input(type='checkbox').loginCheckbox
				label Recuerd치me
				br
				input#loginPassword(type='password', placeholder='Contrase침a')
				br
				br
				input#loginSubmitEmail(type='submit', value='Iniciar sesi칩n')
				a#loginRegister Registrase
