doctype html
html
	head
		title MyNewPet
		link(href='public/css/header.css', rel='stylesheet')

		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		
		link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		script(src='public/js/header.js', defer='defer')
	body
		div#navbar
			#logo MyNewPet
			a.mainButton#loginAccess(onclick='showLogin(this)') Acceder
		#login
			#loginContent
				#loginTitle Acceder
				hr.loginLine
				#loginSocial
					button.loginBtn.loginBtn--facebook Acceder con Facebook
					br
					button.loginBtn.loginBtn--google Acceder con google
				hr.loginLine
				input.loginInputText(type='text', placeholder='Correo electrónico')
				br
				br
				input(type='checkbox').loginCheckbox
				label Recuerdáme
				br
				input.loginInputText(type='password', placeholder='Contraseña')
				br
				br
				input#loginSubmitEmail(type='submit', value='Iniciar sesión')
				a#loginRegister(onclick='signUpContent()') Registrase

			#signUpSection
				h1 Introduce tu dirección de correo electrónico:
				input(type='text', placeholder='Corre electrónico').loginInputText
				br
				br
				br
				br
				br
				a.mainButton Registrarse

