doctype html
html
	head
		title Header
		link(href='public/css/header.css', rel='stylesheet')
	body
		.login
			#loginTitle Login
			hr.loginLine
			#loginSocial
				button.loginBtn.loginBtn--facebook Login with Facebook
				br
				button.loginBtn.loginBtn--google Login with google
			hr.loginLine
			input#loginEmail(type='text', placeholder='Correo electrónico')
			br
			input(type='checkbox'.loginCheckbox
			label Recuerdáme
			br
			input#loginPassword(type='password', placeholder='Contraseña')
