doctype html
html
	head
		title MyNewPet
		link(href='public/css/header.css', rel='stylesheet')

		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		
		link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')

	body
		div#navbar
			#logo MyNewPet
			a#loginAccess Login
		#login
			#loginTitle Login
			hr.loginLine
			#loginSocial
				button.loginBtn.loginBtn--facebook Login with Facebook
				br
				button.loginBtn.loginBtn--google Login with google
			hr.loginLine
			input#loginEmail(type='text', placeholder='Correo electrónico')
			br
			input(type='checkbox').loginCheckbox
			label Recuerdáme
			br
			input#loginPassword(type='password', placeholder='Contraseña')
			- function oki(obj) { obj.display = "block"; } 
