include header.pug
link(href='public/css/index.css', rel='stylesheet')
#cardsContainer
	a.card(href='#')
		img(src='http://lorempixel.com/400/200/', width=100, height=100)
		.nameTypeAnimal Perro
		.animalSelection Seleccionar
		.animalBook Reservar
	a.card(href='#')
		img(src='http://lorempixel.com/400/200/', width=100, height=100)
		.nameTypeAnimal Perro
		.animalSelection Seleccionar
		.animalBook Reservar
	a.card(href='#')
		img(src='http://lorempixel.com/400/200/', width=100, height=100)
		.nameTypeAnimal Perro
		.animalSelection Seleccionar
		.animalBook Reservar
	a.card(href='#')
		img(src='http://lorempixel.com/400/200/', width=100, height=100)
		.nameTypeAnimal Perro
		.animalSelection Seleccionar
		.animalBook Reservar
	a.card(href='#')
		img(src='http://lorempixel.com/400/200/', width=100, height=100)
		.nameTypeAnimal Perro
		.animalSelection Seleccionar
		.animalBook Reservar
